
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting (из представления)
        <p>Мы собираемся на захватывающую вечеринку.</p>
        @Html.ActionLink("Форма RSVP", "RsvpForm")
    </div>
</body>
</html>
