@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
   @using (Html.BeginForm())
    {
        <p>Ваше имя: @Html.TextBoxFor(x => x.Name)</p>
        <p>Ваш email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Ваш телефон: @Html.TextBoxFor(x => x.Phone)</p>
        <p>Вы придете? @Html.DropDownListFor(x => x.WillAttend, new[] { 
                           new SelectListItem(){Text = "Да, конечно я буду", Value = Boolean.TrueString},
                           new SelectListItem(){Text = "Нет, я не смогу", Value = Boolean.FalseString},
                        })
        </p>
        <input type="submit", value="Отправить форму RSVP" />
    }
</body>
</html>
